.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16,minmax(100px, auto));
}

.gridSquare {
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
}
